p{
    background-color: rgb(101, 133, 127);
    margin-right: 400p;
}
#Main_Title{
    text-align: center;
    font: 4em sans-serif;
    color: rgb(136, 41, 41);
}
body{
    background-color: rgb(64, 77, 77)
}